@import '../../../../../assets/settings/main.scss';


.tb-c-todo-column {
  @extend .letterSpacing;
  @extend .fontType;
  
  &__title {
    @include paddingTop(5);
    @include paddingBottom(5);
    @include paddingLeft(2.5);
    @extend .fontS;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__tasks{
    background-color: red;
  }
}