@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');

.fontXXS {
  font-size: 12px;
}

.fontXS {
  font-size: 14px;
}

.fontS {
  font-size: 16px;
}

.fontM {
  font-size: 20px;
}

.fontL {
  font-size: 24px;
}

.fontXL {
  font-size: 28px;
}

.fontXXL {
  font-size: 32px;
}

.fontXXXL {
  font-size: 36px;
}

.fontUppercase {
  text-transform: uppercase;
}

.fontCapitalize {
  text-transform: capitalize;
}

.fontLowercase {
  text-transform: lowercase;
}

.fontBold {
  font-weight: bold;
}

.fontUnderline {
  text-decoration: underline;
}

.fontType {
  font-family: 'Mandali', sans-serif;
}

.letterSpacing {
  letter-spacing: 0.25px;
}